{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kodr|Shreyians</title>
    <link rel="stylesheet" href="{% static 'bootcamp.css' %}">
    <link rel="icon" href="{% static 'lion.jpg' %}">
</head>
<body>
    <nav>
        <a href="{% url 'app1:home' %}"><img src="{% static 'lion.jpg' %}" style="width:30px;height:30px;">  shreyians coding school</a>
        <a href="{% url 'app1:home' %}">Home</a>
        <a href="{% url 'app1:courses' %}">courses</a>
        <a href="{% url 'app1:bootcamp' %}">bootcamp</a>
        <a href="{% url 'app1:callback' %}">callback</a>
        <a href="{% url 'app1:signin' %}"><button style="background-color: aqua;color:black">sign in</button></a>
    </nav>
    <div>
        <div>
            <h1 style="font-size: 40px;margin-left:-150px;margin-top: 100px;">
                <pre style="font-family: 'Times New Roman', Times, serif;">
                    6 months In-House
                    Bootcamp Programme-
                    Kodr.
                </pre>
           </h1>
           <div style="margin-left: 50px;">
               <button style="background-color: lightslategrey;color:antiquewhite;font-size: 20px;border-radius: 20px;">Starts on 11Nov2024</button>
               <button style="background-color:lightslategrey;color:antiquewhite;margin-left: 80px;font-size: 20px;border-radius: 20px;">Placement Assistance</button>
           </div>
           <h2 style="margin-left: 70px;">Price <span style="color:green">59000</span><a>[50,0000+18% Gst]</a></h2>
           <button style="background-color: aquamarine;color:white;font-size: 20px;border-radius: 20px;height:60px;margin-left:70px">Seats Are Full</button>
        </div>
        <div style="margin-top:-380px;margin-left: 800px;width:800px;height:800px;border-radius: 20px;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pOGLAlGCKFE?si=rBu6NBwXN3_iaZLi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <div ><pre style="font-size: 60px;margin-left:-350px;margin-top: -300px;">
            We Believe in,
            <span style="color:green">Consistency.</span>No shortcuts.
              
        </div>
        <div>
            <div>
            <button class="bs">MERN Stack</button>
            <button class="bs">Data Structures & Algorithms</button>
            <button class="bs">DBMS-SQL</button>
            </div>
            <div style="margin-top:30px">
            <button class="bs">CORECS Subjects</button>
            <button class="bs">Placement Assistance</button>
            </div>
        </div>
    </div>
    <pre>
        <h1 style="font-size:120px;margin-left: -720px;">
            Non-Stop
            <span style="color: aquamarine;">5 Hours</span>
            Coding <span style="font-size: 40px;">[Everyday]</span>
        </h1>
    </pre>
    <p style="font-size:30px;margin-top: -200px;margin-left:100px;">Monday to Saturday.11:00 AM To 4:00 PM</p>
    <h1 style="font-size:80px;margin-left: 100px;">Dominate</h1>
    <p style="font-size: 30px;-webkit-background-clip: text;color:grey;margin-left: 100px;margin-top: -50px;">From Start to Victory</p><br><br>
    <hr>
    <h2>HTML/CSS</h2>
    <div style="float:right;margin-top:-50px;">
    <label>Expand</label>
    <!-- <input list="br" name="br">
      <datalist id="br">
        <option value="HTML Basis"></option>
    </datalist> -->
    </div>
    <hr>
    <h2>Javascript</h2>
    <div style="float:right;margin-top:-50px;">
        <label>Expand</label>
    </div>
    <hr>
    <h2>Data Structures and Algorithms(DSA)</h2>
    <div style="float:right;margin-top:-50px;">
        <label>Expand</label>
    </div>
    <hr>
    <h2>Node.js and Express[Backend]</h2>
    <div style="float:right;margin-top:-50px;">
        <label>Expand</label>
    </div>
    <hr>
    <h2>Databases</h2>
    <div style="float:right;margin-top:-50px;">
        <label>Expand</label>
    </div>
    <hr>
    <h2>Git/GitHub</h2>
    <div style="float:right;margin-top:-50px;">
        <label>Expand</label>
    </div>
    <hr>
    <h2>DevOps and Deployment</h2>
    <div style="float:right;margin-top:-50px;">
        <label>Expand</label>
    </div>
    <hr>
    <h2>Additional Topics</h2>
    <div style="float:right;margin-top:-50px;">
        <label>Expand</label>
    </div>
    <hr style="margin-top:100px">
    <div id="m">
        <div>
            <p>let's connect with our socials</p>
        </div>
        <div>
            <p>Company</p>
            <p>About Us</p>
            <p>Support</p>
            <p>Privacy Policy</p>
            <p>Terms and Condition</p>
            <p>Pricing and Refund</p>
            <p>Hire From Us</p>
            <p>Bug Bounty</p>
        </div>
        <div>
            <p>Community</p>
            <p>inertia</p>
            <p>Discord</p>
        </div>
        <div>
            <p>Get in Touch</p>
            <p>+91 8109161752</p>
            <p>+91 9691778470</p>
            <p>hello@shreyians.com</p>
            <p>23-B,Indrapuri Sector C,Bhopal(MP),462021</p>
        </div>
    </div>
    <hr style="margin-top: 100px;">
    <pre style="text-align: center;">
        copyright@2024 ShreyiansPvt.Ltd.
        All Rights Reserved.
    </pre>
</body>
</html>
