{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shreyians coding school|learrn</title>
    <link rel="icon" href="{% static 'lion.jpg' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'app1:home' %}"><img src="{% static 'lion.jpg' %}" style="width:30px;height:30px;">  shreyians coding school</a>
        <a id="u" href="{% url 'app1:home' %}">Home</a>
        <a href="{% url 'app1:courses' %}">courses</a>
        <a href="{% url 'app1:bootcamp' %}">bootcamp</a>
        <a href="{% url 'app1:callback' %}">callback</a>
        <a href="{% url 'app1:signin' %}"><button style="background-color: aqua;color:black">sign in</button></a>
    </nav>
    <pre>
        we only <span style="color:green">teach</span>
        what we are really 
        really good at.
    </pre>
    <pre id="x">
        get ready to <span style="color:green">aclerate the your
        carrer</span> with our customized courese 
        and leave your mark in the tech 
        industry
    </pre>
    <button id="o">check courses-make an impact</button>
    <div>
        <div>25k+ students taught</div>
        <div>20+ instructors</div>
        <div>431k+ youtube subs</div>
    </div>
    <pre id="s">we do whatever it takes to help you 
        <span style="color:green">understand the concepts</span>
    </pre>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/60SRAWmMXyc?si=m6G_Bh10IP7gKUQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <button id="z">Explore free learning</button>
    <p id="l">Courses Offered.</p>
    <div>
        <div>
            <img style="margin-left:-350px;"alt="" src="https://ik.imagekit.io/sheryians/courses_gif/Front-End_Domination__Create_Anything_with_Code-FRONTENDTHUBNAIL_Wf8WqcNJx.jpg"></div>
            <div>
                <p style="font-size:20px;margin-left:-530px;margin-top:220px">Front-End Domination:Create Anything With Code</p>
                <button style="background-color:darkslategrey;height:20px;margin-top: 300px;margin-left:-200px;">HINDI</button>
                <!-- <p style="color:green">Limited Time Discount</p> -->
                <div>
                <p style="margin-top: 300px;margin-left:-390px;">4999  <span style="text-decoration:line-through;">9999</span></p>
                <p style="background-color: antiquewhite;color:black;height:30px;margin-top: 300px;font-size:20px">50% OFF</p>
                </div>
            </div>
            <div>
                <button style="background-color: aquamarine;margin-left:-700px;margin-top: 370px;height:50px;width:200px">view details</button>
            </div>
        </div>
    </div>
    <div style="margin-top:-10px">
        <div>
            <img  style="margin-top:-250px;width:350px;height:200px;margin-left: 100px;"alt="" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-backend_0.5x_Medium_wgHDU-5rPt.png">
        </div>
        <div>
           <p style="font-size: 20px;margin-left: -300px;margin-top:-40px">Back-End Domination Create Efficient Back-End</p>
           <button style="background-color:darkslategrey;height:20px;margin-left:-200px;margin-top:50px;">HINDI</button>
           <div>
            <p style="margin-left:-220px;margin-top:50px;">5999 <span style="text-decoration:line-through;">11999</span></p>
            <p style="background-color: antiquewhite;color:black;height:30px;font-size:20px;margin-top: 50px;">50% OFF</p>
           </div>
        </div>
        <div>
            <button style="background-color: aquamarine;height:50px;width:200px;margin-top: 130px;margin-left:-500px;;">view details</button>

        </div>
        <div>
            <div>
                <img style="width:350px;height:200px;margin-left:-500px;margin-top: -280px;" alt="" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-apti_reasoning_45vyAnZ4y.jpeg">
            </div>
            <div>
                <p style="margin-left:-700px;font-size: 20px;margin-top: -70px;">Aptitude and reasoning for campus placements</p>
                <button style="background-color: darkslategrey;height: 20px;margin-left:-360px;margin-top:-30px">HINGLISH</button>
                <div>
                    <p style="margin-left: -280px;">999 <span style="text-decoration: line-through;">1500</span></p>
                    <p style="background-color: antiquewhite;color:black;height:30px">33% OFF</p>
                </div>
            </div>
            <div>
                <button style="background-color: aquamarine;height:50px;width:200px;margin-top: 110px;margin-left:-800px;;">view details</button>

            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <img style="margin-left:-530px"alt="" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-javaas_Large_jY0Wighav__6PygWBZQ.jpeg">
            </div>
            <div>
                <p style="margin-left:-710px;font-size: 20px;margin-top: 220px;">Java and DSA Domination</p>
                <button style="background-color: darkslategrey;height: 20px;margin-top:270px;margin-left:-200px">HINGLISH</button>
                <div>
                    <p style="margin-left:-280px; margin-top: 280px;"> 4999 <span style="text-decoration: line-through;">  9999</span></p>
                    <p style="background-color: antiquewhite;color:black;height:30px;margin-top:280px;font-size: 20px;">50% OFF</p>
                </div>
            </div>
            <div>
                <button style="background-color: aquamarine;height:50px;width:200px;margin-top:350px;margin-left:-850px;;">view details</button>

            </div>
        </div>
    </div>
    <hr style="margin-top:300px">
    <div id="pk">
        <div>
            <p style="margin-left:-350px">let's connect with our socials</p>
        </div>
        <div style="display:block;font-size: 20px;line-height: 15px;">
            <p>Company</p>
            <p>About Us</p>
            <p>Support</p>
            <p>Privacy Policy</p>
            <p>Terms and Condition</p>
            <p>Pricing and Refund</p>
            <p>Hire From Us</p>
            <p>Bug Bounty</p>
        </div>
        <div style="display:block;font-size: 20px;">
            <p>Community</p>
            <p>inertia</p>
            <p>Discord</p>
        </div>
        <div style="display:block;font-size: 20px;">
            <p>Get in Touch</p>
            <p>+91 8109161752</p>
            <p>+91 9691778470</p>
            <p>hello@shreyians.com</p>
            <p>23-B,Indrapuri Sector C,Bhopal(MP),462021</p>
        </div>
    </div>
    <hr style="margin-top: 300px;">
    <pre style="text-align: center;font-size: 20px;margin-left:-50px">
        copyright@2024 ShreyiansPvt.Ltd.
        All Rights Reserved.
    </pre>
</body>
</html>
</body>
</html>