{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'app1:home' %}"><img src="{% static 'lion.jpg' %}" style="width:30px;height:30px;">  shreyians coding school</a>
        <a href="{% url 'app1:home' %}">Home</a>
        <a href="{% url 'app1:courses' %}">courses</a>
        <a href="{% url 'app1:bootcamp' %}">bootcamp</a>
        <a href="{% url 'app1:callback' %}">callback</a>
        <a href="{% url 'app1:signin' %}"><button style="background-color: aqua;color:black">sign in</button></a>
    </nav>
    <h6 style="font-size:30px;text-align:center;">Sign In</h6>
    <div style="display:flex;margin-top:-60px;">
        <a class="e">phone</a>
        <a class="e">email</a>
    </div>
</body>
</html>